<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class=" img-responsive carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="respond img-full" src="https://images.pexels.com/photos/1122765/pexels-photo-1122765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="https://images.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="https://images.pexels.com/photos/56030/pyrite-pyrites-mineral-sulfide-56030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="icon-prev"></span>
						</a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="icon-next"></span>
						</a>
                </div>
                <h2 class="brand-before">
                    {{!--<small>Welcome to</small>--}}
                </h2>
                <h1 class="brand-name">Emerald Fawn </h1>
                <h2>
                    <small>
                            <strong class="tagline">Crystal Energy Work </strong>
                        </small>
                </h2>
                <hr class="tagline-divider">
                <h2>
                    <small>
                            <strong class="tagline"> Handmade Jewlery</strong>
                        </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row box">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 welcome-content">
            <hr>
            <h2 class="intro-text text-center">The Story of
                <hr class="tagline-divider">
                <h2 id="strong"> Emerald Fawn</h2>
            </h2>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-med-6 col-lg-6">
                    <div class="sizeofpic">
                        <img class="img-responsive img-border img-left" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350"
                            alt="">
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <p class="description"><strong>Emerald Fawn</strong> is dedicated to making the planet a better place by getting people back
                        in alignment with nature, and themselves through crystal healing sessions and by getting lovingly
                        handmade crystal jewelry into the hands and hearts of as many people as possible. </p>
                    <p class="description2"> I am certified as a crystal healer through the Hibiscus Moon Crystal Academy. Emerald Fawn encompasses
                        my identity as an intuitive crystal healer, lightworker, and creator of jewelry and herbal products.</p>
                </div>
            </div>
        </div>
    </div>
</div>